body{
    margin: 0%;
    height: 100vh;
    width: 100vw;
    background:linear-gradient(#9b40dc, #ffff);
    font-size: larger;
    text-align: center;
    text-align: left;
}
.Título{
    font-family: 'Times New Roman', Times, serif;
    font-size-adjust: calc(60);
    text-align: center;
    text-align: justify;
}

