body{
    margin: 0%;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#5fedb4, #ffffff);
    font-size: larger;
    text-align: center;
    text-align: justify;
}
.Título {
    font-family: 'Times New Roman', Times, serif;
    font-size:calc(60);
    text-align: center;
    text-align: justify;
}
img{
    width: 40%;
    height: 90%;
}
header{
    width: 1440;
    height: 143;
}